img {
	max-width: 100%;
}

/* Header */
.my-page-header {
	display: flex;
}

.my-page-header-h1 {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	color: #747704;
	margin-bottom: 5px;
}

.my-page-header-h3 {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	color: #747704;
	margin: 5px 0 5px;
}

.my-page-header-hr {
	border: 0;
	height: 2px;
	background: #bcbbbb;
}

.my-page-header-img {
	margin-top: 10px;
	width: 100px;
}

.my-page-header-a {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #747704;
}

.my-header-info-a {
	color: #747704;
}

/* Main */
.my-featured-header-h2 {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #bcbbbb;
}

.my-projects-links-h3 {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #747704;
	margin: 5px 0 5px;
}

/* Modals */

.modal-content {
	vertical-align: middle;
	display: inline-block;
}

/* Footer */

.my-footer-text {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	color: #747704;
}


/* Media queries */

@media screen and (max-width: 470px) {
	.my-page-header-h1{
		font-size: 25px;
	}

	.my-page-header-h3{
		font-size: 18px;
	}

}


/* iPhone6 and HTC One M8 - High PPI devices */

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px) {
	.my-modal-text-p {
		font-size: 125%;
	}

	.my-modal-text-h4 {
		font-size: 200%;
	}

	.btn-responsive {
		padding: 4px 9px;
		font-size: 125%;
		line-height: 1.5;
	}

	.my-projects-links-p {
		font-size: 100%;
	}

	.my-projects-links-h3 {
		font-size: 100%;
	}

	.my-page-header-h1 {
		font-weight: 400;
		font-size: 1em;
	}

	.my-page-header-h3 {
		font-weight: 400;
		font-size: .75em;
	}

	.my-header-info-a {
		font-size: 1em;
		margin-left: 15px;
	}

	.featured-header-h2 {
		font-size: 2em;
	}
}


@media screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) and (max-width: 700px){
	.modal-content {
		width: 70%;
		margin-left: 15%;
	}

	.modal-header {
		padding: 1px 10px 1px;
	}

	.modal-footer {
		padding: 5px 0 5px;
	}

	.my-modal-text-h4{
		font-size: 150%;
		margin-bottom: 0;
	}

	.my-modal-text-p {
		font-size: 90%;
		margin-bottom: 0;
	}

	.modal-body {
		padding: 5px 15px 5px;
	}

	.btn-responsive {
		padding: 2px 4px;
		font-size: 100%;
		line-height: 1;
		margin-right: 5px;
	}


}

/* iPad Air 2 - Retina device */
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px){

	.modal-header {
		padding-bottom: 5px;
		padding-top: 5px;
	}

	.modal-footer {
		padding: 5px 0 5px;
	}

	.my-modal-text-h4{
		font-size: 200%;
		margin-bottom: 0;
	}

	.my-modal-text-p {
		font-size: 200%;
		margin-bottom: 0;
	}

	.btn-responsive {
		padding: 2px 4px;
		font-size: 100%;
		line-height: 1;
		margin-right: 5px;
	}

	.my-header-info-a {
		font-size: 2em;
		margin-left: 20px;
	}


}







